/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
  background-color: #d4a76a;
  margin: 0;
}
header {
  display: flex;
  background-color: #ffdbaa;
  color: #553100;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 15px;
}

.small-box-button {
  background-color: #805215;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}
.box-button {
  background-color: #805215;
  color: white;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  margin-top: auto;
}
.box-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 20px;
  width: 30%;
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px;
}
.large-box-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  gap: 10px;
}
